.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Courier New", "Courier New", monospace;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-start {
    justify-content: flex-start;
}

.align-items-center {
    align-items: center;
}

.list-header {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    line-height: 24px;
}

.list-table {
    text-align: left;
}

.list-table td {
    padding: 5px;
}

.table-stripped th {
    padding: 10px;
    font-size: 20px;
}

.table-stripped {
    border-collapse: collapse;
}

.table-stripped>thead>tr:first-child {
    background-color: #363636;
    color: white;
}

.table-stripped tr:nth-child(even) {
    background-color: #e5e5e5;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #e5e5e5;
    border-radius: 4px;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > .active {
    color: #afafaf;
}
.breadcrumb > li + li:before {
    content: ">";
    padding: 0 7px 0 0;
    color: #ccc;
}
.breadcrumb a {
    text-decoration: none;
    color: #723da1;
}

.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

/* MARGINS */
.mt-20 {
    margin-top: 20px;
}

.m-0 {
    margin: 0;
}

.ml-5 {
    margin-left: 5px;
}

/* BUTTONS */
.action-button, .action-button button, .action-button form {
    width: 30px;
    height: 30px;
    margin: 0 2px;
}

.action-button a, .action-button button {
    padding: 3px 10px 3px 10px;
}

.btn {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn:hover {
    outline: none;
}

.btn-success {
    color: #fff;
    background-color: #2ab27b;
    border-color: #259d6d;
}
.btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #20895e;
    border-color: #0d3625;
}
.btn-success:hover {
    color: #fff;
    background-color: #20895e;
    border-color: #196c4b;
}
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #20895e;
    background-image: none;
    border-color: #196c4b;
}

.btn-warning {
    color: #fff;
    background-color: #cbb956;
    border-color: #c5b143;
}
.btn-warning:focus, .btn-warning.focus {
    color: #fff;
    background-color: #b6a338;
    border-color: #685d20;
}
.btn-warning:hover {
    color: #fff;
    background-color: #b6a338;
    border-color: #9b8a30;
}
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #b6a338;
    background-image: none;
    border-color: #9b8a30;
}

.btn-danger {
    color: #fff;
    background-color: #bf5329;
    border-color: #aa4a24;
}
.btn-danger:focus, .btn-danger.focus {
    color: #fff;
    background-color: #954120;
    border-color: #411c0e;
}
.btn-danger:hover {
    color: #fff;
    background-color: #954120;
    border-color: #78341a;
}
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #954120;
    background-image: none;
    border-color: #78341a;
}

.w-100 {
    width: 100%;
}

/* ALERTS */
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
}

/* MEDIAS */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
